@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Luxurious+Roman&family=Playfair+Display&family=Poppins:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    
}
.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
}

/* top-players */
.title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

    

.players{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    
}